/* Resize map */
#mapid 
{ 
    height: 600px; 
    width: 600px;
    margin: auto;
}

/* Form */

form
{
    width: 600px;
    margin: auto;
}

input
{
    background: #ECEFF1 !important;
}

p
{
    text-align: center;
}

/* Titre */

h1
{
    text-align: center;
    font-family: 'Overpass';
}