*
{
    box-sizing: border-box;
}

/* Resize map */
#mapid 
{ 
    height: 500px; 
    width: 500px;
    margin: auto;
}

/* Form */

form
{
    width: 500px;
    margin: auto;
}

input
{
    background: #ECEFF1 !important;
}

.btn-outline-primary 
{
    color: #1f6499;
    border-color: #1f6499;
}

.btn-outline-primary:hover 
{
    background-color: #1f6499;
    border-color: #1f6499;
}

#sign-up-btn
{
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Titre */

h1
{
    text-align: center;
    font-family: 'Overpass';
    color: #1f6499;
}

/* Success/Error Message */

#nb-heures
{
    color: #1f6499;
    display: block; 
    font-size: 2em;
    line-height: 1em;
    margin: 1rem 0 .4rem
}

#msg
{
    text-align: center;
    font-size: 2em;
}

#errorMsg
{
    color: rgb(198,40,40);
}